<app-option-menu></app-option-menu>
<audio id="sent-sound-effect" src="../../assets/audio/sent_msg.mp3"></audio>
<audio id="received-sound-effect-1" src="../../assets/audio/received_msg_1.mp3"></audio>
<audio id="received-sound-effect-2" src="../../assets/audio/received_msg_2.mp3"></audio>

<main>
    <div class="chat-container">
      
      <app-contact-list></app-contact-list>

      <app-chat-active></app-chat-active>

    </div>
</main>

<app-toast-message [type]="'success'" [title]="'Chatty'"
   content="Welcome to chatty!🥳">
</app-toast-message>
